In [4]:
import pandas as pd
import numpy as np
from datetime import datetime
import calendar

In [45]:
# Creación de datos random

nombres_aleatorios = ['said','simba','jared','misra','sam']
numeros_aleatorios = np.arange(178,945)
cantidad_aleatoria = np.arange(1,20)
estado_venta = ['Completado','Cancelado','Pendiente']
estdos_republica = ['Hidalgo','Nuevo León','San Luis Potosin', 'Veracruz','Puebla','Yucatan']
tipo_venta = ['Línea','Presencial']
tipo_producto = ['Producto A','Producto B','Producto C','Producto D','Producto E']
anio = 2024
num_registros = 200

lista_nombres = [np.random.choice(nombres_aleatorios) for _ in range(num_registros)] #
lista_ventas = [np.random.choice(numeros_aleatorios) for _ in range(num_registros)]
lista_cantidad = [np.random.choice(cantidad_aleatoria) for _ in range(num_registros)]
lista_estado = [np.random.choice(estado_venta) for _ in range(num_registros)] #
lista_estado_republica = [np.random.choice(estdos_republica) for _ in range(num_registros)] # 
lista_tipo_venta = [np.random.choice(tipo_venta) for _ in range(num_registros)] # 
lista_producto = [np.random.choice(tipo_producto) for _ in range(num_registros)] #
lista_fecha = [] #

for _ in range(num_registros):
    while True:
        try:
            mes = np.random.choice(np.arange(1, 13)) # Meses del 1 al 12
            dias_en_mes = calendar.monthrange(anio, mes)[1]        
            dia = np.random.choice(np.arange(1, dias_en_mes + 1)) # Días del 1 al 'dias_en_mes'

            fecha = datetime(anio, mes, dia).date()
            lista_fecha.append(fecha)
            break 
        except ValueError:
            print(f"Error al crear la fecha {anio}-{mes}-{dia}. Reintentando...")
            continue 

dic_data = {
    'nombre_vendedor': lista_nombres,
    'tipo_venta': lista_tipo_venta,
    'estodo_venta': lista_estado,
    'fecha': lista_fecha,
    'producto': lista_producto,
    'estado_republica': lista_estado_republica,
    'cantidad': lista_cantidad,
    'precio': lista_ventas
}

df = pd.DataFrame(dic_data)
df.head(10)

,nombre_vendedor,tipo_venta,estodo_venta,fecha,producto,estado_republica,cantidad,precio
0,simba,Línea,Cancelado,2024-04-07,Producto B,Nuevo León,6,670
1,said,Línea,Completado,2024-04-05,Producto A,San Luis Potosin,10,543
2,sam,Línea,Completado,2024-01-19,Producto A,San Luis Potosin,19,513
3,said,Línea,Completado,2024-12-26,Producto E,Puebla,19,752
4,sam,Presencial,Pendiente,2024-11-22,Producto C,Veracruz,12,450
5,jared,Presencial,Cancelado,2024-11-19,Producto D,Yucatan,16,532
6,jared,Línea,Completado,2024-11-12,Producto B,Nuevo León,1,561
7,sam,Línea,Pendiente,2024-06-17,Producto B,Puebla,17,414
8,simba,Presencial,Cancelado,2024-09-06,Producto D,San Luis Potosin,15,543
9,simba,Presencial,Completado,2024-10-03,Producto A,Nuevo León,10,618

In [46]:
df.tail(10)

,nombre_vendedor,tipo_venta,estodo_venta,fecha,producto,estado_republica,cantidad,precio
190,jared,Presencial,Pendiente,2024-01-31,Producto D,Nuevo León,5,783
191,misra,Presencial,Pendiente,2024-08-02,Producto A,Hidalgo,15,354
192,said,Presencial,Pendiente,2024-02-22,Producto C,Puebla,5,350
193,misra,Presencial,Pendiente,2024-09-29,Producto C,San Luis Potosin,17,420
194,simba,Línea,Cancelado,2024-01-17,Producto A,San Luis Potosin,8,649
195,jared,Presencial,Pendiente,2024-06-21,Producto C,San Luis Potosin,10,503
196,said,Línea,Completado,2024-10-07,Producto B,Yucatan,5,916
197,simba,Línea,Completado,2024-06-26,Producto D,Veracruz,13,375
198,jared,Línea,Pendiente,2024-05-27,Producto D,Nuevo León,6,212
199,said,Presencial,Pendiente,2024-10-02,Producto C,Yucatan,18,250