In [1]:
import numpy as np
import pandas as pd

Ejercicio 1: Operaciones avanzadas con NumPy

Crea un array de números aleatorios enteros entre 1 y 100 con forma (5,5) y realiza las siguientes operaciones:

* ✅ Encuentra el valor máximo y mínimo del array.
* ✅ Calcula la media y la desviación estándar.
* ✅ Encuentra la suma de cada fila y cada columna.
* ✅ Normaliza el array (resta la media y divide entre la desviación estándar).

In [2]:
# Crear un array 
array_aleatorio = np.random.randint(1,101,size=(5,5))
#imprimir el array
array_aleatorio

array([[ 70, 100,  22,   2,   9],
       [100,   2,  95,  86,  55],
       [ 62,   4,  95,  92,  26],
       [  4,  63,   3,  99,  24],
       [ 20,  29,  92,  42,  43]], dtype=int32)

In [3]:
# Encontrar el valor maximo y minimo del array
valor_maximo = array_aleatorio.max()
valor_minimo = array_aleatorio.min()

print(f'Valor maximo: {valor_maximo}')
print(f'Valor minimo: {valor_minimo}')

Valor maximo: 100
Valor minimo: 2

In [4]:
# Calcular la media y la desviacion estandar del array
media = array_aleatorio.mean()
desviacion_estandar = array_aleatorio.std()
print(f'Media: {media}')
print(f'Desviacion estandar: {desviacion_estandar}')

Media: 49.56
Desviacion estandar: 36.45718584860877

In [5]:
# Encuentra la suma de los valores de cada columna
suma_columnas = array_aleatorio.sum(axis=0)
print(f'Suma de las columnas: {suma_columnas}')

Suma de las columnas: [256 198 307 321 157]

In [7]:
# Normalizar el array
array_normalizado = (array_aleatorio - media) / desviacion_estandar
array_normalizado

array([[ 0.56065765,  1.38354069, -0.75595522, -1.30454392, -1.11253787],
       [ 1.38354069, -1.30454392,  1.24639351,  0.9995286 ,  0.14921612],
       [ 0.34122217, -1.24968505,  1.24639351,  1.16410521, -0.64623748],
       [-1.24968505,  0.3686516 , -1.27711448,  1.35611125, -0.70109635],
       [-0.81081409, -0.56394918,  1.16410521, -0.20736653, -0.17993709]])

Ejercicio 2: Transformación de datos en Pandas
Crea el siguiente DataFrame:
* Producto: ['Laptop', 'Celular', 'Tablet', 'Monitor', 'Teclado'],
* Precio: [15000, 8000, 5000, 3000, 500],
* Cantidad: [3, 5, 4, 10, 15],
* Fecha Venta: ['2024-03-01', '2024-03-02', '2024-03-03', '2024-03-04', '2024-03-05']

Realiza las siguientes tareas:

✅ Agrega una columna de "Descuento" con un 10% si el precio es mayor a 5000, y 5

In [8]:
# Crear un DataFrame de pandas
data = {
    'Producto': ['Laptop', 'Celular', 'Tablet', 'Monitor', 'Teclado'],
    'Precio': [15000, 8000, 5000, 3000, 500],
    'Cantidad': [3, 5, 4, 10, 15],
    'Fecha Venta': ['2024-03-01', '2024-03-02', '2024-03-03', '2024-03-04', '2024-03-05']
}

df = pd.DataFrame(data)
df.head()

  Producto  Precio  Cantidad Fecha Venta
0   Laptop   15000         3  2024-03-01
1  Celular    8000         5  2024-03-02
2   Tablet    5000         4  2024-03-03
3  Monitor    3000        10  2024-03-04
4  Teclado     500        15  2024-03-05

In [ ]:
df['Descuentos'] = df.apply(lambda row: row['Precio'] * 0.1 if row['Precio'] > 5000 else row['Precio'] * 0.05 if row['Precio'] < 5000 else 0, axis=1)
df

  Producto  Precio  Cantidad Fecha Venta  Descuentos
0   Laptop   15000         3  2024-03-01      1500.0
1  Celular    8000         5  2024-03-02       800.0
2   Tablet    5000         4  2024-03-03         0.0
3  Monitor    3000        10  2024-03-04       150.0
4  Teclado     500        15  2024-03-05        25.0