In [2]:
import pandas as pd
import numpy as np

In [4]:
data = pd.Series(np.random.uniform(size=9), index=[['a','a','a','b','b','c','c','d','d'], [1,2,3,1,1,3,2,2,3]])
data

a  1    0.409864
   2    0.449443
   3    0.679734
b  1    0.357634
   1    0.719496
c  3    0.257491
   2    0.143699
d  2    0.030088
   3    0.699200
dtype: float64

In [5]:
df1 = pd.DataFrame({'key':['b','b','a','c','a','a','b'], 'data1': pd.Series(range(7), dtype='Int64')})
df2 = pd.DataFrame({'key':['a','b','d'], 'data1': pd.Series(range(3), dtype='Int64')})
print(f'df1:\n{df1}')
print(f'df2:\n{df2}')

df1:
  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6
df2:
  key  data1
0   a      0
1   b      1
2   d      2

In [7]:
pd.merge(df1,df2)

  key  data1
0   b      1

In [8]:
pd.merge(df1, df2, on='key')

  key  data1_x  data1_y
0   b        0        1
1   b        1        1
2   a        2        0
3   a        4        0
4   a        5        0
5   b        6        1