ðŸ”¹ Ejercicio 1: Operaciones con NumPy

Crea un array NumPy con los nÃºmeros del 1 al 10 y realiza las siguientes operaciones:

âœ… Elevar al cuadrado cada elemento.

âœ… Obtener la suma total del array.

âœ… Filtrar solo los valores mayores a 5.

In [11]:
import numpy as np
import pandas as pd

In [2]:
# Crear un array en numpy
array_1 = np.array([1,2,3,4,5,6,7,8,9,10])
array_1

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [6]:
# Elevar al cuadrado cada elemento
cuadrado_array = array_1 ** 2
print(f'Array al cuadrado: {cuadrado_array}')

Array al cuadrado: [  1   4   9  16  25  36  49  64  81 100]

In [7]:
# Obtener la suma total del array
suma_array = array_1.sum()
print(f'Suma del array: {suma_array}')

Suma del array: 55

In [10]:
# Filtar solo los valores mayores a 5
mask = array_1 > 5
mayores_array= array_1[mask]
print(f'Num. mayores a 5: {mayores_array}')

Num. mayores a 5: [ 6  7  8  9 10]

ðŸ”¹ Ejercicio 2: CreaciÃ³n de DataFrame en Pandas

Crea un DataFrame con los siguientes datos de ventas:

* Producto: Laptop, Celular, Tablet	
* Precio: 15000, 8000, 5000	
* Cantidad: 3,5,4

âœ… Calcula la columna Total (Precio * Cantidad).

âœ… Filtra los productos con un total mayor a 20,000.

In [12]:
# Crear DataFrame 
datos = {
    'Producto': ['Laptop','Celular', 'Tablet'],
    'Precio': [15000,8000,5000],
    'Cantidad': [3,5,4]
}

df = pd.DataFrame(datos)
df

  Producto  Precio  Cantidad
0   Laptop   15000         3
1  Celular    8000         5
2   Tablet    5000         4

In [16]:
# Calcular la columnas Total (precio * cantidad
df['Total'] = df['Precio'] * df['Cantidad']
df

  Producto  Precio  Cantidad  Total
0   Laptop   15000         3  45000
1  Celular    8000         5  40000
2   Tablet    5000         4  20000

In [19]:
# Filtrar los productos con un total mayor a 20,000.
mask_data = df['Total'] > 20000
mask_data_mayor = df[mask_data]
mask_data_mayor

  Producto  Precio  Cantidad  Total
0   Laptop   15000         3  45000
1  Celular    8000         5  40000

ðŸ”¹ Ejercicio 3: Carga de datos desde un archivo CSV

* âœ… Descarga este archivo CSV: ventas.csv (simula que contiene datos de ventas).
* âœ… Carga el archivo en un DataFrame.
* âœ… Muestra las primeras 5 filas.

No se logro descargar el data set

In [21]:
# Crear datos simulados
data_2 = {
    "Producto": ["Laptop", "Celular", "Tablet", "Monitor", "Teclado"],
    "Precio": [15000, 8000, 5000, 3000, 500],
    "Cantidad": [3, 5, 4, 10, 15]
}

# Crear DataFrame
df_2 = pd.DataFrame(data_2)

# Mostrar las primeras 5 filas
print(df_2.head())

  Producto  Precio  Cantidad
0   Laptop   15000         3
1  Celular    8000         5
2   Tablet    5000         4
3  Monitor    3000        10
4  Teclado     500        15

Este cÃ³digo simula un archivo CSV cargado en Pandas. Ahora intenta responder las siguientes preguntas usando este DataFrame:

* âœ… Agrega una columna llamada Total que multiplique Precio * Cantidad.
* âœ… Filtra los productos con un total mayor a 20,000.
* âœ… ObtÃ©n el producto con la mayor cantidad vendida.

In [22]:
# Columna Total 
df_2['Total'] = df_2['Precio'] * df_2['Cantidad']
df_2

  Producto  Precio  Cantidad  Total
0   Laptop   15000         3  45000
1  Celular    8000         5  40000
2   Tablet    5000         4  20000
3  Monitor    3000        10  30000
4  Teclado     500        15   7500

In [23]:
# Filtrar los productos con un total mayor a 20,000
mask_mayor_20000 = df_2['Total'] > 20000
df_mask_mayor_20000 = df_2[mask_mayor_20000]
df_mask_mayor_20000

  Producto  Precio  Cantidad  Total
0   Laptop   15000         3  45000
1  Celular    8000         5  40000
3  Monitor    3000        10  30000

In [29]:
# Obtener el producto con la mauor cantidad vendida
mayor_cantidad = df_2.loc[df_2['Cantidad'].idxmax()]
mayor_cantidad

Producto    Teclado
Precio          500
Cantidad         15
Total          7500
Name: 4, dtype: object