In [ ]:
# Cargamos las librerias
import pandas as pd

In [8]:
data = {
    'orden_id': [101, 102, 103, 104, 105, 106],
    'cliente': ['Ana', 'Luis', 'Ana', 'Marta', 'Luis', 'Carlos'],
    'fecha': pd.to_datetime(['2024-01-01', '2024-01-03', '2024-01-10', '2024-01-10', '2024-01-15', '2024-01-20']),
    'producto': ['Teclado', 'Mouse', 'Pantalla', 'Laptop', 'Mouse', 'Laptop'],
    'cantidad': [1, 2, 1, 1, 1, 2],
    'precio_unitario': [500, 200, 3000, 15000, 200, 15000]
}

df = pd.DataFrame(data)
df

   orden_id cliente      fecha  producto  cantidad  precio_unitario
0       101     Ana 2024-01-01   Teclado         1              500
1       102    Luis 2024-01-03     Mouse         2              200
2       103     Ana 2024-01-10  Pantalla         1             3000
3       104   Marta 2024-01-10    Laptop         1            15000
4       105    Luis 2024-01-15     Mouse         1              200
5       106  Carlos 2024-01-20    Laptop         2            15000

## ðŸ§ª DesafÃ­o prÃ¡ctico â€“ Parte 1
### ðŸ”§ Objetivo: Demostrar tu dominio de selecciÃ³n, filtrado, operaciones y agregaciones.
Responde con cÃ³digo y resultados (si puedes) para las siguientes instrucciones:

##### **1. Agrega una columna llamada 'total_venta' que sea el resultado de cantidad * precio_unitario.**

In [9]:
df['total_venta'] = df['cantidad'] * df['precio_unitario']
df

,orden_id,cliente,fecha,producto,cantidad,precio_unitario,total_venta
0,101,Ana,2024-01-01,Teclado,1,500,500
1,102,Luis,2024-01-03,Mouse,2,200,400
2,103,Ana,2024-01-10,Pantalla,1,3000,3000
3,104,Marta,2024-01-10,Laptop,1,15000,15000
4,105,Luis,2024-01-15,Mouse,1,200,200
5,106,Carlos,2024-01-20,Laptop,2,15000,30000

##### **2. Â¿CuÃ¡les son las ventas totales por cliente? (Suma de total_venta por nombre)**

In [12]:
sumas_por_cliente = df.groupby('cliente')['total_venta'].sum()
sumas_por_cliente

cliente
Ana        3500
Carlos    30000
Luis        600
Marta     15000
Name: total_venta, dtype: int64

##### **3. Â¿CuÃ¡ntas unidades se vendieron en total de cada producto?**

In [14]:
unidades_por_producto = df.groupby('producto')['cantidad'].sum()
unidades_por_producto

producto
Laptop      3
Mouse       3
Pantalla    1
Teclado     1
Name: cantidad, dtype: int64

##### **4. Â¿CuÃ¡l fue la venta mÃ¡s alta registrada y quiÃ©n la hizo?**

In [21]:
indice_venta_mas_alta = df['total_venta'].idxmax()

venta_mas_alta_info = df.loc[indice_venta_mas_alta]

# 3. Extraer el monto de la venta y el nombre del vendedor
venta_mas_alta_monto = venta_mas_alta_info['total_venta']
cliente_venta_mas_alta = venta_mas_alta_info['cliente']

print(f'{cliente_venta_mas_alta}  ${venta_mas_alta_monto}')

Carlos  $30000

##### **5. Filtra las Ã³rdenes donde se vendieron mÃ¡s de 1 unidad y el producto fue un 'Laptop'.**

In [24]:
mask_1_laptop = (df['cantidad'] > 1) & (df['producto'] == 'laptop')
df[mask_1_laptop]

Empty DataFrame
Columns: [orden_id, cliente, fecha, producto, cantidad, precio_unitario, total_venta]
Index: []