In [84]:
# Cargamos las librerias
import pandas as pd
import numpy as np

In [8]:
data = {
    'orden_id': [101, 102, 103, 104, 105, 106],
    'cliente': ['Ana', 'Luis', 'Ana', 'Marta', 'Luis', 'Carlos'],
    'fecha': pd.to_datetime(['2024-01-01', '2024-01-03', '2024-01-10', '2024-01-10', '2024-01-15', '2024-01-20']),
    'producto': ['Teclado', 'Mouse', 'Pantalla', 'Laptop', 'Mouse', 'Laptop'],
    'cantidad': [1, 2, 1, 1, 1, 2],
    'precio_unitario': [500, 200, 3000, 15000, 200, 15000]
}

df = pd.DataFrame(data)
df

   orden_id cliente      fecha  producto  cantidad  precio_unitario
0       101     Ana 2024-01-01   Teclado         1              500
1       102    Luis 2024-01-03     Mouse         2              200
2       103     Ana 2024-01-10  Pantalla         1             3000
3       104   Marta 2024-01-10    Laptop         1            15000
4       105    Luis 2024-01-15     Mouse         1              200
5       106  Carlos 2024-01-20    Laptop         2            15000

## üß™ Desaf√≠o pr√°ctico ‚Äì Parte 1
### üîß Objetivo: Demostrar tu dominio de selecci√≥n, filtrado, operaciones y agregaciones.
Responde con c√≥digo y resultados (si puedes) para las siguientes instrucciones:

##### **1. Agrega una columna llamada 'total_venta' que sea el resultado de cantidad * precio_unitario.**

In [9]:
df['total_venta'] = df['cantidad'] * df['precio_unitario']
df

,orden_id,cliente,fecha,producto,cantidad,precio_unitario,total_venta
0,101,Ana,2024-01-01,Teclado,1,500,500
1,102,Luis,2024-01-03,Mouse,2,200,400
2,103,Ana,2024-01-10,Pantalla,1,3000,3000
3,104,Marta,2024-01-10,Laptop,1,15000,15000
4,105,Luis,2024-01-15,Mouse,1,200,200
5,106,Carlos,2024-01-20,Laptop,2,15000,30000

##### **2. ¬øCu√°les son las ventas totales por cliente? (Suma de total_venta por nombre)**

In [12]:
sumas_por_cliente = df.groupby('cliente')['total_venta'].sum()
sumas_por_cliente

cliente
Ana        3500
Carlos    30000
Luis        600
Marta     15000
Name: total_venta, dtype: int64

##### **3. ¬øCu√°ntas unidades se vendieron en total de cada producto?**

In [14]:
unidades_por_producto = df.groupby('producto')['cantidad'].sum()
unidades_por_producto

producto
Laptop      3
Mouse       3
Pantalla    1
Teclado     1
Name: cantidad, dtype: int64

##### **4. ¬øCu√°l fue la venta m√°s alta registrada y qui√©n la hizo?**

In [21]:
indice_venta_mas_alta = df['total_venta'].idxmax()

venta_mas_alta_info = df.loc[indice_venta_mas_alta]

# 3. Extraer el monto de la venta y el nombre del vendedor
venta_mas_alta_monto = venta_mas_alta_info['total_venta']
cliente_venta_mas_alta = venta_mas_alta_info['cliente']

print(f'{cliente_venta_mas_alta}  ${venta_mas_alta_monto}')

Carlos  $30000

##### **5. Filtra las √≥rdenes donde se vendieron m√°s de 1 unidad y el producto fue un 'Laptop'.**

In [24]:
mask_1_laptop = (df['cantidad'] > 1) & (df['producto'] == 'laptop')
df[mask_1_laptop]

Empty DataFrame
Columns: [orden_id, cliente, fecha, producto, cantidad, precio_unitario, total_venta]
Index: []

## ‚öîÔ∏è DESAF√çO PR√ÅCTICO ‚Äì PARTE 2: An√°lisis avanzado

In [25]:
df

,orden_id,cliente,fecha,producto,cantidad,precio_unitario,total_venta
0,101,Ana,2024-01-01,Teclado,1,500,500
1,102,Luis,2024-01-03,Mouse,2,200,400
2,103,Ana,2024-01-10,Pantalla,1,3000,3000
3,104,Marta,2024-01-10,Laptop,1,15000,15000
4,105,Luis,2024-01-15,Mouse,1,200,200
5,106,Carlos,2024-01-20,Laptop,2,15000,30000

### üìå Objetivos ‚Äì Parte 2
Responde con c√≥digo y resultados, como hiciste antes. No copies/pegues sin pensar: este nivel requiere precisi√≥n quir√∫rgica.

##### **1. Agrupa las ventas por semana y muestra la suma de 'total_venta' por semana.**

Pista: Usa .dt.isocalendar().week o resample('W').

In [39]:
df['semana_iso'] = df['fecha'].dt.isocalendar().week
suma_por_semana_venta = df.groupby('semana_iso')['total_venta'].sum()
suma_por_semana_venta

semana_iso
1      900
2    18000
3    30200
Name: total_venta, dtype: int64

##### **2. ¬øCu√°l fue el producto m√°s vendido (en cantidad total) en el mes?**

In [ ]:
# Agrupamos los datos que necesitamos
producto_mas_vendido_mes = df.groupby('producto')['cantidad'].sum()

# Calcular los rangos desempados (en caso de alla)
# ascendig=False nos aseguramos que el mayor tenga el rango 1
# 'first' rompe los empates asignando el rango m√°s bajo al que aparece primero
productos_ranked = producto_mas_vendido_mes.rank(ascending=False, method='first')

# Filtramos para encontrar con el rango 1
producto_con_mas_ventas_desempatado = productos_ranked[productos_ranked == 1]

# Obtener el producto y la cantidad 
nombre_producto_desempatado = producto_con_mas_ventas_desempatado.index[0]
cantidad_venta_desempatada = producto_mas_vendido_mes.loc[nombre_producto_desempatado]

print(f'El producto con m√°s ventas (desempatado) es: "{nombre_producto_desempatado}"')
print(f'Cantidad total vendida de este producto: {cantidad_venta_desempatada}')

El producto con m√°s ventas (desempatado) es: "Laptop"
Cantidad total vendida de este producto: 3

##### **3. Calcula el ticket promedio por cliente (total vendido dividido entre n√∫mero de √≥rdenes).**

In [76]:
clientes = df.groupby('cliente')['total_venta'].sum()
numero = df.groupby('cliente')['total_venta'].count()

ticket_promedio = clientes / numero

print(f'Ticket Promedio\n{ticket_promedio}')

Ticket Promedio
cliente
Ana        1750.0
Carlos    30000.0
Luis        300.0
Marta     15000.0
Name: total_venta, dtype: float64

##### **4. Crea un ranking de productos por ventas totales (total_venta) de mayor a menor.**

In [78]:
productos_por_ventas = df.groupby('producto')['total_venta'].sum()
productos_por_ventas

producto
Laptop      45000
Mouse         600
Pantalla     3000
Teclado       500
Name: total_venta, dtype: int64

##### **5. Identifica a los clientes frecuentes, definidos como aquellos con 2 o m√°s √≥rdenes.**

In [83]:
clientes_frecuentes = numero >= 2
print(f'Clientes Frecuenctes\n{numero[clientes_frecuentes]}')

Clientes Frecuenctes
cliente
Ana     2
Luis    2
Name: total_venta, dtype: int64

##### **6. [BONUS] Agrega una columna que indique si la orden fue "alta" (>5000), "media" (entre 1000 y 5000) o "baja" (<=1000) seg√∫n su total_venta.**

In [85]:
condicion = [
    df['total_venta'] > 5000,
    (df['total_venta'] >= 1000) & (df['total_venta'] <= 5000)
]

opciones = ['Alta','Media']

df['BONUS'] = np.select(condicion, opciones, default='Baja')
df

,orden_id,cliente,fecha,producto,cantidad,precio_unitario,total_venta,semana_iso,BONUS
0,101,Ana,2024-01-01,Teclado,1,500,500,1,Baja
1,102,Luis,2024-01-03,Mouse,2,200,400,1,Baja
2,103,Ana,2024-01-10,Pantalla,1,3000,3000,2,Media
3,104,Marta,2024-01-10,Laptop,1,15000,15000,2,Alta
4,105,Luis,2024-01-15,Mouse,1,200,200,3,Baja
5,106,Carlos,2024-01-20,Laptop,2,15000,30000,3,Alta